.skipButton {
  position: absolute;
  right: calc(50% - 600px);
  z-index: 999;
}

.first {
  margin-top: 60px;
}

.headerRow {
  margin-top: 58px;
  margin-bottom: 35px;
}

.headerTitle {
  font-weight: 400;
  font-size: 30px;
  text-transform: uppercase;
}

.headerSpace {
  height: 106px;
}

.tagSpace {
  margin-top: 24px;
}

.buttonSpace {
  margin-bottom: 56px;
}

.headerSpaceRight {
  float: right;
  height: 106px;
  margin-left: auto;
}
