.inlineFormRow {
  height: 62px;
  margin-bottom: 24px;
}

.inlineFormSelect {
  display: inline-block;
  width: calc(50% - 13px);
}

.inlineFormSpaceMark {
  height: 32px;
  margin: 0 8px;
  line-height: 32px;
  text-align: center;
  vertical-align: center;
}

.desc {
  width: 500px;
  margin: 30px 0;
  text-align: left;
}
